footer,
header {
    padding: 10px;
    color: #fff
}

p {
    text-indent: 1cm;
    
}

h4 {
    text-indent: .5cm;
}

body,
html {
    font-family: Arial;
    height: 100%;
    margin: 0;
}
#salida{
    border: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
        
}
#ayuda{
    display: none;
    border-radius: 4px;
    color: white;
    background-color: darkgray;
    position: absolute;
    visibility: visible;
    height: 50px;
    width: 200px;
    
}
#fondo_estilo{
    border-radius: 10px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-color: black;
    border-style: solid;
}
section {
   
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    display: -webkit-flex;
    display: flex;
}
#til{
    text-indent: 200px;
    font-size: 30px;
    text-align: center;
}
article {
   
    margin-top: 15px;
    margin-left: 40px;
    margin-top: 40px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

header {
    border-radius: 4px;
    background: #333;
    margin: 10px;
    font-size: 15px;
}

footer {
    border-radius: 12px;
    margin-top: 10px;
    background-color: darkgray;
    margin: 10px;
    text-align: left;
}

body:after {
    content: "ISC";
    font-size: 20em;
    color: rgba(52, 166, 214, 0.4);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

form {
    color: #000;
    display: grid;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0;
    max-width: 500px;
    padding: 1em
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c
}

form button {
    background: #d3d3d3;
    padding: .7em;
    width: 100%;
    border: 0
}

form button:hover {
    background: gold
}

label {
    padding: .5em .5em .5em 0
}

input {
    padding: .7em;
    margin-bottom: .5rem
}

input:focus {
    outline: gold solid 3px
}

@media (min-width:400px) {
    form {
        grid-template-columns: 120px 1fr;
        grid-gap: 16px
    }
    label {
        text-align: right;
        grid-column: 1/2
    }
    button,
    input {
        grid-column: 2/3
    }
}
#refer {
    display: none;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

      span {
                display:block;
                font-size:25px;
                color:#FFF;
                text-align:center;
            }
            /*
             * propiedades de las cajas (arrastrables)
             */
            div[id ^='caja'] {
                width:330px;
                height:auto;
                background:rgba(204, 0, 0, 0.8);
                border: 3px solid rgba(204, 0, 0, 1);
                margin:5px auto;
                padding:5px;
                color:#FFF;
            }
            div[id ^='caja']:after {
                content:"  Fuera del contenedor"
            }
            /*
             * propiedades que van a tomar el elemento arrastrable luego de que  este se suelte dentro de su contenedor
             */
            div[id ^='contenedor'] div[id ^='caja'] {	
                background:rgba(0,178,255,0.8);
                border: 3px solid rgba(0,178,255, 1);
                float:right;
            }
            div[id ^='contenedor'] div[id ^='caja'] span {
                color:#FFF;
            }
            div[id ^='contenedor'] div[id ^='caja']:after {
                content:"  Dentro del contenedor  "
            }
            /*
             * propiedades del contenedor
             */
            div[id ^='contenedor'] {
                width:350px;
                height:200px;
                background:rgba(38,104,127,0.8);
                border: 3px solid rgba(38,104,127, 1);
                margin:5px auto;
                padding:5px;
            }